/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #a6dcef, #f7d1e7, #fff9c4);
    min-height: 100vh; /* Ajuste para que el degradado cubra todo el alto de la ventana */
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Estilos para el select de usuarios */
  .userselects select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el contenedor de usuario y tareas */
  .user-container, .task-container {
    margin-bottom: 30px;
  }
  
  /* Estilos para las listas de usuario y tareas */
  .user-container ul, .task-container ul {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-container li, .task-container li {
    margin-bottom: 10px;
  }
  
  /* Estilos para los botones */
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilos para las casillas de verificación */
  input[type="checkbox"] {
    margin-right: 10px;
  }

  /* Estilos para las casillas de verificación */
input[type="checkbox"] {
    margin-right: 100px;
    /* Oculta el botón de selección por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo para cuando la casilla está marcada */
  input[type="checkbox"]:checked {
    background-color: #4caf50; /* Cambia el color de fondo a verde cuando está marcada */
  }
  